.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 80px;
  padding: 17px 33px;
  font-size: var(--main-size);
  line-height: 20px;
  letter-spacing: 0.02px;
  text-align: center;
  counter-reset: var(--light-color);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

  &:focus {
    outline: none;
  }

  @include hover {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
  }

  &:active {
    background-color: var(--active-color);
    border-color: var(--active-color);
  }

  .btn.focus-visible {
    border-color: var(--active-color);
  }
}
