.header {
  &__container {
    align-items: center;
    justify-content: space-between;
  }

  &--position {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
  }
}

.nav {
  align-items: center;
  padding-right: 16px;

  &__list {
    align-items: center;
    margin-right: 32px;
    gap: 51px;
  }
}
